# Built application files
*.apk
*.ap_
*.dex

# Gradle files
.gradle/
build/
app/build/

# Local configuration file
local.properties

# IntelliJ/Android Studio
.idea/
*.iml
caches/

# Keystore files
*.jks

# Gradle wrapper dists
gradle/wrapper/dists/